body{
    background-color: #0F0E0E;
    color: white;
}

.svg1{
    fill: #DAA520;
}

#capeta{
    filter:saturate(0) brightness(100%) sepia(100%) hue-rotate(100deg) contrast(150%) ;
    transition: 0.5s;
  }
  
  #capeta:hover{
    filter: saturate(1);
    
  } 